@import 'variables';

.mod_customnav {
  position: relative;
  width: $content-width;
  max-width: $max-width;
  margin: 0 auto;
  ul {
    position: absolute;
    top: 1.65vw;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    li {
      float: left;
      &:not(:last-child)::after {
        content: ' | ';
        white-space: pre;
      }
      a {
        color: $font-color;
        text-transform: uppercase;
        transition: all 200ms;
        -webkit-transition: all 200ms;
        -moz-transition: all 200ms;
        -o-transition: all 200ms;
        &:hover {
          color: black;
        }
      }
      span {
        color: $font-color;
        text-transform: uppercase;
      }
    }
  }
}

.mod_mobile_menu {
  width: $content-width;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
}

.mobile_menu_trigger {
  display: block;
  position: fixed;
  width: 71%;
  text-align: right;
  max-width: 1000px;
  cursor: pointer;
  top: 1vw;
  transition: all 200ms;
  &:hover {
    -webkit-filter: drop-shadow(0 0 2px rgba(86, 86, 86, 0.7));
    filter: drop-shadow(0 0 2px rgba(86, 86, 86, 0.7));
  }
}

.mobile_menu_trigger img {
  width: 85px;
}

.header-background {
  width: 100%;
  height: 36vw;
  background-size: cover;

}

.logo {
  position: absolute;
  top: 85px;
  width: 14%;
  height: 14vw;
  left: 20%;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 0 20px gray;
  text-align: center;
  transition: box-shadow 350ms;
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  -o-transition: box-shadow 350ms;
  &:hover {
    box-shadow: 0 0 40px gray;
  }
  img {
    width: 63%;
    margin-top: 50%;
    margin-left: 4px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

.ten-years {
  position: absolute;
  width: 180px;
  right: 24%;
  top: 26vw
}

.search-form {
  display: block;
  .widget-text,.widget-submit {
    float: left;
  }
  .widget-submit {
    width: 25px;
    margin-top: 6px;
    margin-left: -35px;
  }
}

.header-bar {
  background-color: transparent;
  z-index: 2;
  width: 100%;
  height: 100px;
  position: fixed;
  margin-top: -20px;
  transition: background-color 250ms;
}

.header-bar-stuck {
  background-color: white;
}

@media screen and (max-width: 1600px) {
  .header-background {
    margin-top: 20px;
  }

  .mod_customnav ul {
    top: 8px;
  }

  .ten-years {
    width: 145px;
    top: 23vw;
  }
}

@media screen and (max-width: $smartphone-threshold) {
  .header-background {
    height: 500px;
    margin-top: 0;
    background-repeat: no-repeat;
    background-position: 48% 20%;
    background-size: 1098px;
  }

  .mod_customnav {
    display: none;
  }

  .logo {
    top: 50px;
    width: 200px;
    height: 200px;
    left: 10%;
  }

  .ten-years {
    top: 300px;
  }

  .mobile_menu_trigger {
    top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .mobile_menu_trigger {
    position: absolute;
    width: 80px;
    height: 80px;
    right: -25px;
    top: 400px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 20px gray;
  }

  .header-bar {
    position: relative;
    height: 0;
  }

  .header-bar-stuck {
    background-color: transparent;
  }

  .mobile_menu_trigger img {
    margin-top: 50%;
    transform: translateY(-50%);
    margin-left: -3px;
  }

  .logo {
    top: 15px;
    width: 200px;
    height: 200px;
    left: initial;
    right: 5%;
  }

  .ten-years {
    right: initial;
    left: 2%;
  }
}